body {
    background-color: black;
    overflow:hidden;
    max-width: 100%;

}

h1 {
    color: white;
    text-align: center;
    padding-top:1%;
}

#maze_shape_L3 {
   /* background-color: aqua; */
   width: 60%;

}

.game_L3 {
    padding-top: 6%;
    text-align: center;

}