body{
    background-color: black;
    overflow:hidden;
    max-width: 100%;

}

h1{
    color: white;
    text-align: center;
    padding-top:1%;
}

#maze_shape{
   /* background-color: aqua; */
   width: 60%;

}

.game {
    padding-top: 10%;
    text-align:center;
}

